[flake8]
format = pylint
inline-quotes = double
max-complexity = 10
max-doc-length = 120
max-line-length = 120

extend-exclude =
    # IDEs
    .idea,
    .vscode,
    # Caches
    .cache,
    .mypy_cache,
    .pytest_cache,
    # Virtual environments
    .venv,
    venv,
    env,
    cached_venv,
    # Databases
    *migrations*,
    # gRPC
    *_pb2.py,

extend-select =
    # Line too long (allows exceeding the maximum line length by no more than 10%)
    B950,

extend-ignore =
    # Whitespace before ':' (conflicts with Black)
    E203,
    # Line too long (Bugbear's similar rule is used instead)
    E501,
    # Do not use bare except, specify exception instead (overlapped by Bugbear)
    E722,
    # Use precise exception handlers (same as the above)
    PIE786,
    # Assert used (may cause a lot of code refactoring)
    S101,
    # Hardcoded password funcarg (conflicts with pydantic.Field)
    S106,
