stages:
  - build

build:
  stage: build
  image: python:3.11
  variables:
    POETRY_HTTP_BASIC_HAUT_AI_USERNAME: f.eremeev
    POETRY_HTTP_BASIC_HAUT_AI_PASSWORD: ${SASUKE_PYTHON_REPO_PUSH_PASSWORD}
  before_script:
    - curl -sSL https://install.python-poetry.org | python -
    - export PATH="/root/.local/bin:$PATH"
    - poetry config repositories.${SASUKE_PYTHON_REPO_NAME} \
      ${SASUKE_PYTHON_REPO_PUSH_URL}
  script:
    - poetry publish -r haut_ai --build
  only:
    - tags
