build/
_build/
dist/
*.egg-info/
.eggs/
**__pycache__/
../pytest_sqlalchemy/.idea/
venv/
.venv/
.mypy_cache
/source/cloud_files/
/source/weights/
/benchmark/*
!/benchmark/config.json
!/benchmark/run_log.txt
!/benchmark/run_results.txt
.ipynb_checkpoints
*/.ipynb_checkpoints/*
